# Eclipse
bin/
.metadata
.project
.classpath
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet

# IntelliJ
.idea
/.idea

*.iml

crashlytics.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
fabric.properties

# Java
*.class
*.jar
*.war
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# MOSAIC

logs/
tmp/
*.log
credentials.cached
*.lcs
.vscode/settings.json

.bak/
/__pycache__/**
client/__pycache__
client/majordomo/__pycache__
.DS_STORE

